.container {
  width: 100%;
  max-width: 147.0rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.full-width {
  position: absolute;
  width: 650px;
  height: 709px;
  left: 790px;
  top: 0px;
}