h1 {  
  font-weight: 800;
  font-size: 64px;
  line-height: 68px;   
}

h2 {  
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.5rem;  
}


h3 {  
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.8rem;   
}

h4 {  
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.3rem; 
  text-transform: uppercase;  
}

p {  
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $gray-02;   
}

h1, h2, h3, h4 {
  color: $black-01;
  font-family: 'THICCCBOI', sans-serif;
  font-style: normal;
}